{% extends 'main/layout.html' %}

{% block title %}
    Обо мне
{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Немного о себе</h1>
        <p>Программист 2+ годами опыта разработки различных приложений.</p>
        <p>(от простых прикладных программ до сложно структурированных драйверов для связи между серверами)</p>
        <p>Со страстью к написанию кода, который готов написать, протестировать и отдать вам готовый продукт.</p><br><br>


        <h3>Навыки</h3>
        <p>Основные языки программирование: Python, Java, C++</p>
        <p>Разбираюсь в GAS, C#, WinCC OA</p>
        <p>Среди баз данных: SQL, MongoDB</p>
    </div>
{% endblock content %}