{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Как со мной связаться</h1>       
        <p>Телеграм: <a href="https://t.me/KupeRRRR" class="text-warning">{{Telegram}}</a></p>
        <p>Фриланс: <a href="https://www.weblancer.net/users/KupeRr/" class="text-warning">{{Freelance}}</a></p>
        <p>GitHub: <a href="https://github.com/KupeRr?tab=repositories" class="text-warning">{{GitHub}}</a>  </p>     
    </div>
{% endblock content %}